In [ ]:
#importing libraries which enable us to write SQL queries in Jupyter Notebook
import pandas as pd
import sqlite3

In [ ]:
#import the .csv dataset from directory
df = pd.read_csv('Table1.csv', encoding='cp1252')

In [ ]:
#connect to a database
conn = sqlite3.connect("My_SQL.db") #if the db does not exist, this creates a My_SQL.db file in the current directory

In [ ]:
#store your table in the database:
df.to_sql('My_Table', conn)

In [ ]:
#read a SQL Query out of your database and into a pandas dataframe
sql_string = 'SELECT * FROM My_Table'
df = pd.read_sql(sql_string, conn)

In [ ]:
df.head()

In [ ]:
pd.read_sql_query('SELECT * FROM My_Table LIMIT 10', conn)

In [ ]:
#if ID number same, split SUMMARY column rows into different columns and store in a separate dataframe by name sq
sq = pd.read_sql_query('WITH ot AS (SELECT ID_NUMBER, SUMMARY, ROW_NUMBER() OVER (Partition BY ID_NUMBER ORDER BY SUMMARY) n FROM My_Table) SELECT a.ID_NUMBER ID_NUMBER, a.SUMMARY SUMMARY1,b.SUMMARY SUMMARY2, c.SUMMARY SUMMARY3, d.SUMMARY SUMMARY4 FROM ot a LEFT JOIN ot b ON b.ID_NUMBER=a.ID_NUMBER AND b.n=2 LEFT JOIN ot c ON c.ID_NUMBER=b.ID_NUMBER AND c.n=3 LEFT JOIN ot d ON d.ID_NUMBER=c.ID_NUMBER AND d.n=4 WHERE a.n=1 ORDER BY ID_NUMBER', conn)
sq.head(50)

In [ ]:
#saving the above output in a table for further processing by the next query
sq.to_sql('My_Table1', conn)

In [ ]:
#check whether the columns have the same values and return a new column with 0 or 1
sq1 = pd.read_sql_query('SELECT CASE WHEN SUMMARY1 = SUMMARY2 THEN "1" ELSE "0" END AS MyDesiredResult FROM My_Table1', conn)
sq1.head()

In [ ]:
#save the output in a new table for further processing
sq1.to_sql('My_Table2', conn)

In [ ]:
#checking the 0's for different values
pd.read_sql_query('SELECT DISTINCT * FROM My_Table2 WHERE MyDesiredResult = "0"', conn)

In [ ]:
#counting the total number of zeros for each separated row to see different values
pd.read_sql_query('SELECT count(*) as MyDesiredResult FROM My_Table2 WHERE MyDesiredResult = "0"', conn)

In [ ]:
#counting the total number of different rows in a column (SUMMARY) in the original dataframe
pd.read_sql_query('SELECT count(*) as SUMMARY FROM My_Table', conn)